<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rekwests: {{.BinId}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
      const socket = io();
      socket.on("connect", () => {
        socket.send("hello");
      });
    </script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Requests to {{.BinId}}</h1>
    <p> Bin created: {{.Timestamp}} </p>
    {{range .Rekwests}}
      {{template "request" .}}
    {{else}}
      <h2>No requests</h2>
      <p>Make a request to: {{.BinId}}</p>
      <p>View request at: {{.BinId}}?inspect</p>
    {{end}}
  </body>
</html>
