{{define "request"}}
<div class="request">
  <div class="request-line">
    <dl>
      <dt>Method:</dt> <dd>{{.Method}}</dd>
      <dt>Host:</dt> <dd>{{.Host}}</dd>
      <dt>Path:</dt> <dd>{{.Path}}</dd>
    </dl>
    </div>
    <div>
      <strong>Query Params:</strong>
      <dl>
      {{range $key, $val := .Params}}
      <strong> {{ $key }} </strong>:
        {{range $val}}
          {{ . }},
        {{end}}
      {{else}}
        None
      {{end}}
      </dl>
    <div>Request Made At: {{.Timestamp}}</div>
  </div>
  <pre>{{.Raw}}</pre>
</div>
{{end}}
